{% extends "base.html" %}

{% load bootstrap4 %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block content %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "org-index" request.user.organization.slug %}
    {% breadcrumb "Documents" "documents" request.user.organization.slug %}
    {% breadcrumb object.document_id "document_detail" request.user.organization.slug object.document_id %}
{% endblock %}

{% render_breadcrumbs %}

<div class="row mb-4">
    <div class="col">
        <h3>{{ object.title }}</h3>
    </div>
</div>

<h3>Document Information from Regulations.gov</h3>
<div class="row mb-3">
    <div class="col">
        <table class="table documents-table">
            <tbody>
                <tr>
                    <th scope="row">URL</th>
                    <td><a href="{{ object.url }}">{{ object.url }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Accepting comments?</th>
                    <td>
                        {% if object.is_accepting_comments %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Document withdrawn?</th>
                    <td>
                        {% if object.is_withdrawn %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Document type</th>
                    <td>{{ object.document_type }}</td>
                </tr>
                <tr>
                    <th scope="row">Comment start date</th>
                    <td>{{ object.comment_start_date }}</td>
                </tr>
                <tr>
                    <th scope="row">Comment end date</th>
                    <td>{{ object.comment_end_date }}</td>
                </tr>
                <tr>
                    <th scope="row">Topics</th>
                    <td>
                        {% if object.topics %}
                            {{ object.topics.all|join:", " }}
                        {% else %}
                            No topics
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>Editable Document Information</h3>
<div class="row mb-3">
    <div class="col">
        <table class="table documents-table">
            <tbody>
                <tr>
                    <th scope="row">
                        <div>Description</div>
                        <small class="text-muted">This is the content that will appear on the comments page.</small>
                    </th>
                    <td>
                        {% if object.formatted_description %}
                            <pre>{{ object.formatted_description|safe }}</pre>
                        {% else %}
                            No description set
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Suggested Comment</th>
                    <td>{{ object.suggested_comment }}</td>
                </tr>
                <tr>
                    <th scope="row">Comment mode</th>
                    <td>
                        {% if object.client_mode == "T" %}
                            Testing
                        {% else %}
                            Live
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row mb-5">
    <div class="col">
        {% url 'document-edit' request.user.organization.slug object.slug as edit_url %}
        {% bootstrap_button 'Edit' button_type='link' extra_classes='mb-2 mr-sm-2' href=edit_url %}
        <form method="POST" action="{% url 'document-refresh' request.user.organization.slug object.slug %}" class="d-inline-block">
            {% csrf_token %}
            {% bootstrap_button 'Refresh from Regulations.gov' button_type='submit' extra_classes='mb-2' %}
        </form>
    </div>
</div>

<h3>View and Collect Comments</h3>
<div class="row">
    <div class="col">
        <table class="table documents-table">
            <tbody>
                <tr>
                    <th scope="row">Received Comments</th>
                    <td>
                        <a href="{% url 'comments' request.user.organization.slug %}?document={{ object.document_id }}">View Comments</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div>Comment Form URL</div>
                        <small class="text-muted">People can use this URL to submit comments for this document.</small>
                    </th>
                    <td>
                        <a href="{% url 'comment' request.user.organization.slug object.slug %}">https://{{ request.META.HTTP_HOST }}{% url 'comment' request.user.organization.slug object.slug %}</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div>Comment Form iframe Code</div>
                        <small class="text-muted">Copy this code into your website to embed a comment form.</small>
                    </th>
                    <td>
                        <pre>
&lt;style&gt;iframe#comment-{{object.slug}} { width: 1px; min-width: 100%; }&lt;/style&gt;&lt;iframe src="https://{{ request.META.HTTP_HOST }}{% url 'comment' request.user.organization.slug object.slug %}" style="border: none;" id="comment-{{object.slug}}"&gt;&lt;/iframe&gt;&lt;script src="https://{{ request.META.HTTP_HOST }}{% static 'js/iframeResizer.js' %}" type="text/javascript"&gt;&lt;/script>&lt;script&gt;iFrameResize({}, '#comment-{{object.slug}}')&lt;/script&gt;
                        </pre>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <div>Comment Form Preview</div>
                        <small class="text-muted">This is a preview of what the comment form looks like.</small>
                    </th>
                    <td>
                        <pre data-turbolinks="false">
<iframe id="iframe-preview" src="{% url 'comment' request.user.organization.slug object.slug %}"></iframe>
                        </pre>
                        <script src="{% static 'js/iframeResizer.js' %}" type="text/javascript" nonce="{{request.csp_nonce}}"></script>
                        <script nonce="{{request.csp_nonce}}">
                            document.addEventListener("turbolinks:load", function() {
                                iFrameResize({}, '#iframe-preview')
                            });
                        </script>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% url 'document-delete' request.user.organization.slug object.slug as delete_url %}
{% bootstrap_button 'Delete Document' button_type='link' button_class='btn-danger' href=delete_url extra_classes='mb-2' %}

{% endblock content %}