<!doctype html>

{% load bootstrap4 %}
{% load i18n %}
{% load static %}
{% load sass_tags %}
{% load active_link_tags %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="turbolinks-root" content="/">
    <meta name="turbolinks-cache-control" content="no-cache">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.2.0/turbolinks.js" type="text/javascript"></script>
    <title>Public Commenter {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'css/site.scss' %}">
  </head>
  <body>
        <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'index' %}">Public Commenter</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item {% active_link 'documents' %}">
                <a class="nav-link" href="{% url 'documents' %}">Documents</a>
              </li>
              <li class="nav-item {% active_link 'comments' %}">
                <a class="nav-link" href="{% url 'comments' %}">Comments</a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item {% active_link 'account' %}">
                        <a class="nav-link" href="{% url 'account' %}">Your Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sign-out' %}">Sign out</a>
                    </li>
                {% endif %}
            </ul>
          </div>
        </nav>
        <div class="container-lg">
            {% bootstrap_messages %}

            {% block content %}
            {% endblock content %}
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous" data-turbolinks-eval="false"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous" data-turbolinks-eval="false"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous" data-turbolinks-eval="false"></script>
  </body>
</html>